@model NWServerAdminPanel.Models.Area

@{
    ViewBag.Title = "Add Area";
}

<h2>Add Area @ViewBag.CurrentArea of @ViewBag.TotalAreas</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Area</legend>
        
        <div class="editor-label">
            @Html.Label("Update or Add")
        </div>
        @Html.DropDownList("AreaList", (SelectList)ViewBag.AreaList, "--Add New Area--")

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Tags)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tags)
            @Html.ValidationMessageFor(model => model.Tags)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Resref)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Resref)
            @Html.ValidationMessageFor(model => model.Resref)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Oldresref)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Oldresref)
            @Html.ValidationMessageFor(model => model.Oldresref)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Uploaded)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Uploaded)
            @Html.ValidationMessageFor(model => model.Uploaded)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastModified)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastModified)
            @Html.ValidationMessageFor(model => model.LastModified)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
